<section class="full-modal bg-primary" role="dialog" id="modalPrimary" aria-labelledby="Primary Modal Example" aria-describedby="description">
  <a href="#" class="modal-exit" title="close"><i class="fa fa-times"></i></a>
  <div class="container">
    <h1>New Client</h1>
    <hr>
    <form role="form">
      <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
      </div>
      <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile" />
          <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" />Check me out</label>
      </div>
      <button type="submit" class="btn btn-success btn-icon"><i class="fa fa-check-square-o"></i> Submit</button>
    </form>
  </div>
</section>
<div class="bubbler-wrapper">
  <div class="modal-btn">
    <div class="bubbler-menu-loader" >
      <a href="#modalPrimary" class="btn bubbler-menu-loader"><i class="fas fa-plus"></i></a>
      <label>
      <span class="floating-button--label">Compose</span>
    </label>
    </div>
  </div>
</div>




