// body{
//   padding:20px 20px;
// }


.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px;
  color:#ccc;
}

.list-client {
  margin-left: 129px;
  position: relative;
  height: 100%;
  min-height: 100%;
  padding: 26px;
  margin-top: 100px;
}

.table {
  box-shadow: 0 2px 5px 0 #DEE3E7;
}




