

@import url(https://fonts.googleapis.com/css?family=Muli:400,700);

/* -- Demo -- */
// body {
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   font-family: "Muli", sans-serif;
//   background: #dcdcdc;
// }
// .content {
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   overflow: scroll;
// }

// .content {
//   padding: 5%;
// }
// .content h1 {
//   text-align: center;
//   color: #428bca;
//   margin-bottom: 40px;
// }
// .content .modal-btns { text-align: center; }

/* -- Modal Styles -- */
.full-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  opacity: 0;
  overflow: scroll;
}
.full-modal:target {
  display: block;
  z-index: 2;
  opacity: 1;
}
.popup:target ~ .content {
  overflow: hidden;
}

.modal-exit {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 1em;
  height: 1em;
  z-index: 10;
  padding: 0.3em;
  font-size: 3em;
  line-height: 1em;
  text-decoration: none;
  color: $elma-dark-blue;
}
.modal-exit:hover {
  color: #dcdcdc;
}

.bg-primary { background-color: #ffffff; }

/* -- Additional Demo Styles -- */
.full-modal h1 {
  // font-size: 3em;
  // font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #24334A;;
}
.full-modal h2 {
  font-weight: 400;
  color: #24334A;;
}

.full-modal p {
  font-size: 18px;
  color: #24334A;;
}
.btn-icon i { margin-right: 4px; }
.help-block { color: #dcdcdc; }
.jumbotron h1, .jumbotron p { color: #f0ad4e; }






.bubbler-wrapper {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 3.5em 3.5em 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.bubbler-wrapper div {
  width: 1.7em;
  height: 1.7em;
  font-size: 2em;
  line-height: 1.7em;
  text-align: center;
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.1)
}

.bubbler-wrapper .bubbler-menu-loader {
  width: 70px;
  height: 70px;
  background-color: #008CBA;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 70px;
  /*position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;*/
}

.floating-button--label{
  pointer-events: none;
    display: inline-block;
    margin-right: 8px;
    opacity: 0;
    text-align: right;
    -webkit-font-smoothing: antialiased;
    transition: opacity 150ms cubic-bezier(.4,0,1,1);
    right: 100%;
    position: absolute;
    background: rgba(70,70,70,.9);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    color: #ececec;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    max-width: 200px;
    overflow: hidden;
    padding: 6px 8px;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-size: 13px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.bubbler-wrapper div:not(:last-child) {
    margin-bottom: .3em
}

.bubbler-wrapper .bubbler-menu-item {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.2s,max-height 0s 0.2s;

  width: 70px;
  height: 70px;
  background-color: #f44336;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 70px;
  /*position: fixed;
  right: 50px;
  bottom: 50px;*/
}

.bubbler-wrapper:hover .bubbler-menu-item {
  opacity: 1;
  max-height: 100%;
  transition: opacity 0.2s,max-height 0s
}


.bubbler-menu-item {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.2s,max-height 0s 0.2s
}

.bubbler-wrapper:hover .bubbler-menu-item {
  opacity: 1;
  max-height: 100%;
  transition: opacity 0.2s,max-height 0s
}





body{ 
}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;

}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
width: 30px;
height: 30px;
text-align: center;
padding: 6px 0;
font-size: 12px;
line-height: 1.428571429;
border-radius: 15px;
}