// Define variables for your color scheme

// For example:
$red: #e72c4f;
$blue: #183755;
$light-blue: #4095cd;
$soft-gray: #f2f9f5;
$green: #2cb6ba;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-blue: #13334c;

// custom color schemes

$elma-red: rgba(231, 44, 79, 1);
$elma-blue: rgba(24, 55, 85, 1);
$elma-dark-blue: rgba(23, 57, 84, 1);
$elma-soft-gray: rgba(242, 249, 245, 1);
$elma-green: rgba(44, 182, 186, 1);
$elma-light-green: rgba(238, 248, 243, 1);
$elma-light-blue: rgba(64, 149, 205, 1);
$elma-hex: rgba(44, 182, 186, 1);
