
#backgroundpagemessageconfirmation   {
  background-color: $elma-soft-gray;
  display: grid;
  font-size: 1vw;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 50vw;
  margin: 0 auto;
  width: 100vw;
  z-index: 1;
}

.bg-top {
  background: $elma-blue;
  grid-column: 7 / span 2;
  grid-row: 1;
}

.bg-left {
  background: $elma-blue;
  grid-column: 1;
  grid-row: 3 / span 1;
}

.bg-right {
  background: $elma-blue;
  grid-column: 10;
  grid-row: 7 / span 1;
}

.bg-bottom {
  background: $elma-blue;
  grid-column: 3 / span 1;
  grid-row: 10;
}

#container-confirmation {
  background-color: white;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.23);
  grid-column: 2 / span 8;
  grid-row: 2 / span 8;
  z-index: 2;
  width: 100%;
}

.photo {
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Gloria Hallelujah', cursive;
  grid-column: 2 / span 4;
  grid-row: 2 / span 8;
  margin: 2em;
  text-align: center;
  z-index: 3;
  h1 { font-size: 2em; }
}

#pagemessage {
  align-content: space-between;
  display: flex;
    flex-direction: column;
  font-family: 'Lato', sans-serif;
  grid-column: 5 / span 5;
  grid-row: 2 / span 8;
  margin-top: 2em;
  z-index: 3;
}

#pagemessage-title {
  align-items: center;
  color: $yellow;
  display: flex;
  font-size: 1.2em;
  height: 20%;
  justify-content: space-between;
}

#pagemessage-title > div > a {
  cursor: pointer;
  margin-left: 1em;

}

.content-about {
  height: 40%;
  > p {
    font-size: 1.5em;
  }
}

.content-boxes {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 40%;
}

.content-box {
  align-items: center;
  background: $elma-blue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10em;
  width: 50%;
}

.content-box.one  {
  margin-right: 3em;

}

.content-box > p {
  color: $blue;
  display: inline-block;
  font-size: 1.8em;
  font-weight: 300;
  height: 100%;
  padding-top: 18%;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    left: 25%;
    display: inline-block;
    height: 1em;
    width: 50%;
    border-bottom: 0.1em solid $yellow;
    margin-top: 0.5em;
  }
}

#register {
  width: 20em;
  margin: auto;
}
#ticket {
  background: white;
  margin: 0 1em;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#ticket h1 {
  text-align: center;
}
#ticket table {
  font-family: monospace;
  width: 100%;
  border-collapse: collapse;
}
#ticket td, #ticket th {
  padding: 5px;
}
#ticket th {
  text-align: left;
}
#ticket td, #ticket #total {
  text-align: right;
}
#ticket tfoot th {
  border-top: 1px solid black;
}




.appointment-title {
  color: $elma-red;
}

.appointment-date {
  color: $elma-dark-blue;
  font-family: "Montserrat";
  font-size: 20px;
}

.appointment-confirmation {
  color: $elma-dark-blue;
  font-family: "Montserrat";
}

#thank-you {
  color: $elma-dark-blue;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
}

.link-home {
  a {
    color: $elma-dark-blue;
    font-family: "Raleway";
    font-size: 15px;
  }
  a:hover {
    color:$elma-red;
  }
}

.fdb-block {
  padding-left: 520px;
}


