
.wrapper-login-form {
  .simple_form.form-signin {
  background-color: $elma-light-green;
  border-radius: 5px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.5);
  }
  a {
    color: $elma-dark-blue;
    font-family: "Montserrat";
    font-size: 13px;
    text-align: right;
  }
  a:hover {
    color: $elma-red;
    text-decoration: none;
  }
}

.form-signin-heading {
  color: $elma-dark-blue;
  text-align: center;
}

.form-inputs-style {
  font-family: "Montserrat";
}

.form-check-label {
  font-family: "Montserrat";
  font-size: 14px;
}

#user_remember_me {
  margin-right: 7px;
}

.form-actions#btn-login {
  padding-bottom: 10px;
}

.form-signup-heading {
  padding-bottom: 20px;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
}

.log-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 197, 188, 0.4);
  .form-signin{
    width: 200%;
}

.sign-container{
  background:
  linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
}
