<div class="ui modal small" id="add-employee--modal">

<div class="header modal-header">Nouvel Employé</div>

<!-- Modal Content: start -->
<%= render "backoffice/components/forms/employee_form__content"  %>
<!-- Modal Content: end -->

<!-- Actions (buttons): start -->
<div class="actions">
  <div class="ui large close button">Cancel</div>
  <div class="ui large green approve button">Add</div>
</div>
<!-- Actions (buttons): end -->

</div>