<div class="ui mini modal" id="confirm-appointment-delete-modal" style="postion:relative;top:20%;">
  <div class="header">
    Delete Appointment
  </div>
  <div class="content">
    <p>Are you sure you want to delete this appointment?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div class="ui positive right approve labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>