<div class="content">
  <!-- Form: start -->
  <div class="ui form">

    <!-- Name: start -->
    <h4 class="ui dividing header" style="box-shadow:none;">Informations Employée</h4>
    <div class="field">
      <div class="two fields">

        <div class="required field">
          <label>Prénom</label>
          <input type="text" name="first_name" placeholder="Prénom">
        </div>

        <div class="required field">
          <label>Nom</label>
          <input type="text" name="last_name" placeholder="Prénom">
        </div>

      </div>
    </div>
    <!-- Name: end -->

    <!-- Extra: start -->
    <div class="field">
      <div class="fields">

        <div class="required six wide field">
          <label>Téléphone</label>
          <div class="ui labeled input">
            <div class="ui blue label">
              +221
            </div>
            <input type="text" name="phone_number" placeholder="Phone Number">
          </div>
        </div>

        <div class="ten wide field">
          <label>Adresse</label>
          <input type="text" name="address" placeholder="Adresse">
        </div>

      </div>
    </div>


    <div class="six field">
      <label>Email</label>
      <input type="email" name="email" placeholder="Email">
    </div>

  </div>
  <!-- Form: end -->
</div>