<div class="ui modal fullscreen" id="modify-appointment--modal">

<div class="header modal-header">Modifier RDV</div>
<!-- Modal Content: start -->
<%= render "backoffice/components/forms/appointment_form__content"  %>
<!-- Modal Content: end -->

<!-- Actions (buttons): start -->
<div class="actions">
  <div class="ui red large deny button">Delete</div>
  <div class="ui large close button">Cancel</div>
  <div class="ui green large approve button">Add</div>
</div>
<!-- Actions (buttons): end -->

</div>