<div class="view calendar calendar-js">
<div class="ui large labels employees-labels--js" style="width: 94%; margin: 0 auto 30px; text-align: right;">
</div>
<div class="view--box">
    <div id="calendar"></div>
</div>
</div>