<div class="view employees employees-js">
  <div class="ui right aligned container" style="margin-bottom:30px;">
    <button class="ui floated big button add-employee-btn--js" style="background-color:#4095cd;color:white;">
      <i class="plus icon"></i> New Employee
    </button>
  </div>
  <div class="ui container">
    <!-- CARDS:start -->
    <div class="ui centered cards" id="employees"></div>
    <!-- CARDS:end -->

  </div>
</div>