<aside class="side-menu side-menu-js shrunken">
    <div class="brand">
    <%= image_tag("favicon.svg", class: "brand-logo") %>
    <h1 class="brand-name">Elmabook</h1>
    </div>
    <ul class="side-menu-list">
    <li class="menu-item active" id="view-btn-dashboard">
        <i class="chart bar outline icon"></i>
        <span class="menu-item-name">Dashboard</span>
    </li>
    <li class="menu-item" id="view-btn-calendar">
        <i class="calendar outline icon"></i>
        <span class="menu-item-name">Calendar</span>
    </li>
    <li class="menu-item" id="view-btn-clients">
        <i class="address book outline icon"></i>
        <span class="menu-item-name">Clients</span>
    </li>
    </li>
    <li class="menu-item" id="view-btn-employees">
        <i class="user outline icon"></i>
        <span class="menu-item-name">Staff</span>
    </li>
    </li>
    <li class="menu-item disabled" id="view-btn-clients">
        <i class="cut icon"></i>
        <span class="menu-item-name">Services</span>
    </li>
    </li>
    <li class="menu-item disabled" id="view-btn-clients">
        <i class="cogs icon"></i>
        <span class="menu-item-name">Settings</span>
    </li>
    </ul>
</aside>