<div class="banner">
  <div class="banner-content">
    <div class="container">
      <h1>Votre Rendez-vous beauté en ligne</h1>
    </div>
    <div class="input-group">
      <div class="input-group-btn input-group-btn-style">
        <form action="/salons" class="home-search-form" autocomplete="off">
          <div class="row">
            <div class="col-xs-8">
              <select type="button" class="btn btn-search-service" name="category">
                <option class="list-item" disabled selected>&nbsp;&nbsp;Les services</option>
                <% @categories.each do |name| %>
                <option class='list-item' value="<%= name %>">
                  <%= name.capitalize %>
                </option>
                <% end%>
              </select>
              <input type="text" class="form-control form-control-style" placeholder="Taper la ville" name="city">
              <button type="submit" class="btn btn-search" style="margin-bottom: 12px;height: 50px;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>