

<div class="footer">
  <div class="footer-links" id="footer-about">
        <%= link_to "Home", root_path %>
    <a href="https://www.instagram.com/elmadeal/?hl=fr"><i class="fab fa-instagram" ></i></i></a>
    <a href="https://www.facebook.com/Elmadealsn/"><i class="fab fa-facebook-square"></i></i></a>
    <a href="https://twitter.com/elmadeal?lang=fr"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/elmadeal-com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Fait avec <i class="fa fa-heart"></i>
  </div>
</div>
