 <!-- footer -->
    <footer>
      <div class="ELMADEAL">
        <h4>ELMADEAL</h4>
      </div>
      <div class="product">
        <h4>PRODUCT</h4>
        <ul>
          <li><a href="#"> Qui somme nous ? </a></li>
          <li><a href="#">recrutement</a></li>
          <li><a href="#">le blog</a></li>
          <li><a href="#">Mentions legales</a></li>
        </ul>
      </div>
      <div class="contact">
        <h4>CONTACT</h4>
        <ul>
          <li><a href="#">Contactez nous</a></li>
          <li><a href="#">QAF</a></li>
        </ul>
      </div>
      <div class="followUs">
        <h4>FOLLOW US</h4>
        <i class="fa fa-facebook-f" aria-hidden="true"></i>
        <i class="fa fa-twitter-square"  aria-hidden="true"></i>
        <i class="fa fa-globe" aria-hidden="true"></i><br>
            <p class="copyright" color="#999999"> ©2019 ELMADEAL<p>
      </div>
      <div class="Subscribe">
        <h4> SUBSCRIBE </h4>
        <input type="text" class="subscribe" value="   Enter your e-mail ">
        <i class="fa fa-arrow-right"></i>
      </div>



    </footer>