
<div class="row">
  <div class="rating-media col-md-12">
    <div class="message">
      <span class="glyphicon glyphicon-user"></span>
      <div class="message-name">
        <h3>Omar</h3>
        <p>10/07/18</p>
      </div>
      <div class="message-body">
        <p>
          <strong>Amazing hairdesser!</strong>
        </p>
        <p>
          I found this salon through Elmadeal and had a haircut here. Was happy with the cut. Make sure to ask for Gabriele - he is amazing.
        </p>
      </div>
      <div class="message-status">
        <div class="rating-holder">
          <div class="c-rating c-rating--small" data-rating-value="5">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rating-media col-md-12">
    <div class="message">
      <span class="glyphicon glyphicon-user"></span>
      <div class="message-name">
        <h3>Hannah</h3>
        <p>10/07/18</p>
      </div>
      <div class="message-body">
        <p>
          <strong>Happy customer!</strong>
        </p>
        <p>
          They did a very good job with my hair and eyebrows. I would highly recommend going to this salon.
        </p>
      </div>
      <div class="message-status">
        <div class="rating-holder">
          <div class="c-rating c-rating--small" data-rating-value="4">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rating-media col-md-12">
    <div class="message">
      <span class="glyphicon glyphicon-user"></span>
      <div class="message-name">
        <h3>Yasmina</h3>
        <p>10/07/18</p>
      </div>
      <div class="message-body">
        <p>
          <strong>Great</strong>
        </p>
        <p>
          I had body massage and facial. I was so relaxed. I highly recommended Hanae. So happy with her service.
        </p>
      </div>
      <div class="message-status">
        <div class="rating-holder">
          <div class="c-rating c-rating--small" data-rating-value="4">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rating-media col-md-12">
    <div class="message">
      <span class="glyphicon glyphicon-user"></span>
      <div class="message-name">
        <h3>Yassine</h3>
        <p>10/07/18</p>
      </div>
      <div class="message-body">
        <p>
          <strong>Good</strong>
        </p>
        <p>
          Gabriele was really great, he took careful care to match my hair colour to what I had previously had done. Highly recommend.
        </p>
      </div>
      <div class="message-status">
        <div class="rating-holder">
          <div class="c-rating c-rating--small" data-rating-value="4">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
