
<div class="wrapper" style="padding:0 20px;">
  <div class="container">
    <div class="title-dest">
      <h3 class="effect-shine"> Edit your accomodation: <%= @salon.name %> </h3>
    </div>
      <h1></h1>
    <div class="row">
      <div class="half-page-div">
        <%= render 'components/form_salon', salon: @salon %>
      </div>
    </div>
  </div>
</div>

