:root {
  /*
  * Colors
  */
  --primary-color: #183755;
  --primary-color-dark-1: #0E1E2F;
  --primary-color-light-1: #2D4964;
  --tertiary-color: #e72c4f;
  --tertiary-color-light: #EB526F;
  --tertiary-color-dark: #A9213A;
  --bg-light-color: #f2f9f5;
  --bg-color-paper: #f2f9f5;
  --border-color: #ececec;
  --text-color: #111;
  --text-color-invert: #fff;
  --box-shadow: 0px 3px 10px 0px rgba(131, 131, 131, 0.2);
  /*
  * Components Colors
  */
  /* header */
  --header-bg-color:  #fff;
  /* sm: side menu */
  --sm-bg-color: var(--primary-color);
  --sm-item-bg-color: var(--primary-color-light-1)/* normal state */;
  --sm-item-color: var(--text-color-invert);
  --sm-item-bg-color--active: var(--text-color-invert)/* active state */;
  --sm-item-color--active: var(--sm-item-bg-color);
  --sm-item-bg-color--disabled: var(--primary-color-light-1)/* disabled state */;
  --sm-item-color--disabled: grey;
  /* main */
  --main-bg-color: var(--bg-light-color);
  /* view */
  --view-box-bg-color: #fff;
  /*
  * sizes
  */
  --navbar-height: 70px;
  --sm-width-stretched: 260px;
  --sm-width-shrunken: 90px;
}

/******************************
************Globals************
******************************/

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

/* Inherting border-box from html */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
  display: flex;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.4em;
}

h2 {
  margin-bottom: .5em;
}

h3 {
  margin-top: .5em;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

nav,
header,
main,
footer,
ul {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

/*
  although it isn't recommended to use !important,
  but we need to get rid of the icon margins and
  position them in the middle of their containers,
  other wise they'll be positioned to the left of
  their container
*/
.side-menu i.icon,
.header .i.icon {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  margin: 0!important;
  font-size: 1.2em!important;
}

/******************************
************Skeleton***********
******************************/

.side-menu,
.page-wrapper {
  height: 100vh;
}

.page-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 9;
  width: 100%;
  background-color: var(--header-bg-color);
  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  border-bottom: 1px solid #fff;
  padding: 8px 20px;
}

.main {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}


.scroller {
  overflow-y: auto;
  /* Only in Mozilla */
  scrollbar-color: #666 #F5F5F5;
  scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
  width: 5px;
  height: 18px;
}

.scroller::-webkit-scrollbar-track {
  background: #F5F5F5;
}

.scroller::-webkit-scrollbar-thumb {
  background: #666;
}

/*****************
    Side Menu
*****************/

.side-menu {
  background-color: var(--sm-bg-color);
  display: flex;
  flex-flow: column wrap;
  color: var(--text-color-invert);
  font-family: sans-serif;
  max-width: var(--sm-width-stretched);
  width: 100%;
}

.side-menu .brand,
.side-menu .side-menu-list {
  width: 100%;
}

.side-menu .brand {
  text-align: center;
  border-bottom: 1px solid var(--primary-color-light-1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.side-menu .brand-logo {
  display: none;
  height: 45px;
  margin: 0 auto;
}

.side-menu .brand-name {
  margin: 0;
}

.side-menu-list {
  list-style: none;
  margin: 0;
  padding: 16px 0 16px 8px;
}

.side-menu .menu-item {
  padding: 14px 0 14px 16px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s ease,
    color 0.3s ease;
  background-color: var(--sm-item-bg-color);
  color: var(--sm-item-color);
  margin-bottom: 8px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
}

.side-menu .menu-item:hover,
.side-menu .menu-item:focus,
.side-menu .menu-item.active {
  background-color: var(--sm-item-bg-color--active);
  color: var(--primary-color);
}

.side-menu .menu-item.disabled {
  background-color: var(--sm-item-bg-color--disabled);
  cursor: unset;
  color: var(--sm-item-color--disabled);
}

.menu-item .menu-item-name {
  margin-left: 14px;
  overflow: hidden;
}

/* closed state*/

.side-menu.shrunken {
  max-width: var(--sm-width-shrunken);
}

.side-menu.shrunken .side-menu-list {
  padding: 16px;
}

.side-menu.shrunken .menu-item {
  padding: 14px;
  border-radius: 3px;
  justify-content: center;
  font-size: 1.4em;
}


.side-menu.shrunken .brand-name,
.side-menu.shrunken .menu-item-name {
  display: none;
}

.side-menu.shrunken .brand-logo {
  display: block;
}

.side-menu,
.side-menu .brand,
.side-menu .menu-item,
.side-menu .side-menu-list {
  transition: all 0.3s ease;
}

/******************************
***********Hamburger***********
******************************/

.hamburger {
  background: none;
  border: none;
  font-size: 2.2em;
  cursor: pointer;
  outline: none;
  color: var(--primary-color-dark-1);
}

.hamburger .icon {
  display: flex;
  font-size: 0.8em!important;
}


/******************************
*************View**************
******************************/

.view {
  display: none;
  width: 100%;
  padding: 32px 0;
}

.view.visible {
  display: block;
}

.view--box {
  width: 94%;
  margin: 0 auto;
  padding: 18px 16px;
  border-radius: 3px;
  background: var(--view-box-bg-color);
  min-height: 350px;
  box-shadow: var(--box-shadow);
  z-index: 99;
}

.dataTables_wrapper {
  padding: 18px 14px;
}