*,
*:before,
*:after {
    box-sizing: inherit;
}

.u-float-right {
    float: right;
}

.u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.subtle {
    
    color: #888;
    font-size: 12px;
}

.card-media {
    border-radius: 5px;
    height: 240px;
    margin-bottom: 30px;
    transition: all 300ms ease-out;
    width: 100%;
    margin: 10px;
    background-color: $elma-light-green;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-left: 0px !important;
    padding-right: 0px !important;
    p{
      color: $elma-dark-blue;
      font-size: 14px;
      font-family: 'Montserrat' !important;
    }
    #salon-description {
      padding-bottom: 0px;
      border-bottom: 1px solid rgba(23, 57, 84, 0.2);
      text-align: center !important;
    }
    #salon-address {
      text-align: right;
    }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center !important;
    }
    ul{
      a:hover {
        font-weight: lighter;
      }
    }
}

.card-media-body-supporting-bottom-text.card-media-link.u-float-right {
  font-family: 'Montserrat' !important;
  color: white;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 4px;
  background: $elma-dark-blue;
  transition: background 0.3s ease;
}

.rating-media {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    height: 150px;
    margin-bottom: 30px;
    transition: all 300ms ease-out;
    width: 96%;
    margin: 15px;
}

.card-media:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, .5);
}

.card-media-object-container {
    background: none;
    float: left;
    height: 100%;
    width: 50%;
    position: relative;
}

.card-media-object {
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.card-media-object:after {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-out;
    z-index: 10;
}

.card-media:hover .card-media-object:after {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.4) 100%);
    opacity: 1;
}

.card-media-body {
    background-color: $elma-light-green;
    float: left;
    height: 100%;
    padding: 15px 15px;
    padding-left: 15px;
    position: relative;
    width: 50%;
    h2 {
      font-size: 21px;
      text-align: left;
      padding-top: 5px;
      font-weight: lighter;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    a {
      color: $elma-green;
    }
    a:hover {
      text-decoration: none;
      color: $elma-green;
      font-weight: bold;
    }
}

.card-media-body-top {
    display: block;
}

.card-media-body-top-icons {
    margin-top: -2px;
    opacity: 0;
    transition: all 300ms ease-out;
    transform: translateY(-5px);
}

.card-media:hover .card-media-body-top-icons {
    opacity: 1;
    transform: translateY(0);
}

.card-media-body-top-icons>svg {
    cursor: pointer;
    margin-left: 10px;
    transition: all 300ms ease-out;
}

.card-media-body-top-icons>svg:hover {
    fill: #444;
}

.card-media-body-heading {
    display: block;
    margin-top: 10px;
}

.card-media-body-supporting-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    transition: all 300ms ease-out;
    width: 100%;
}

.card-media:hover .card-media-body-supporting-bottom {
    opacity: 0;
    transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
    display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
    opacity: 1;
    transform: translateY(8px);
    transition: all 300ms ease-out;
}

.card-media:hover .card-media-body-supporting-bottom-reveal {
    opacity: 1;
    transform: translateY(0);
}

.wrapper-map {
  margin: 15px;
  width: 100%;
  padding-right: 10px;
}

.card {
  height: 280px;
  width: 380px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  border-radius: 5px !important;
  position: relative;
  h2 {
      font-size: 30px !important;
      color: $elma-light-green;
      text-align: left;
      padding-top: 5px;
      font-weight: lighter;
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      bottom: 119px;
      left: 120px;
    }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
