// .footer {
//   background: rgba(249, 69, 91, 0.8);
//   display: flex;
//   justify-content: space-between;
//   height: 150px;
//   color: white;
// }

// .footer-links {
//   display: flex;
//   align-items: center;
//   a {
//     color: white;
//     // opacity: 0.75;
//     text-decoration: none;
//     font-size: 24px;
//     padding: 0px 10px;
//     font-family: "Montserrat"
//     }
//     a:hover {
//       color: $elma-dark-blue;
//     }
// }

// #footer-about {
//   a {
//     font-size: 16px;
//     position: relative;
//     left: 470px;
//   }
// }

// #footer-social {
//   a {
//     position: relative;
//     top: 45px;
//     right: 30px;
//   }
// }


.footer {
  background: $light-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $elma-soft-gray;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 2;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer .fa-twitter{
  color: white;
}
