.hoursWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.hoursBox {
  border-radius: 3px;
  margin-top: 20px;
}

.hoursContent {
  padding: 40px;
  background: #fff;
  box-shadow: 1px 2px 3px #ccc;
}

.hoursBox hr {
  width: 100%;
  border-bottom: solid 1px #ffffff;
}

.hoursTitle h2 {
  font-size: 24px;
  color: $elma-red;
}

.hours {
  display: flex;
  justify-content: space-between;
}

.hours ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hours ul:first-child {
  font-weight: 400;
  padding: 0 15px;
  color: $elma-dark-blue;
}

.hours ul:last-child {
  font-weight: 200;
}

.hours ul li {
  padding-bottom: 10px;
}
