.padded ul li a {
    color: $elma-light-green;
    &:hover {
        color: $elma-dark-blue;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }
    text-decoration: none;
}

.padded ul li a {
    display: block;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    background: $elma-dark-blue;
    &:hover {
        color: white;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    text-decoration: none;
    width: 100%;
}

div.padded ul li {
    float: left;
    display: inline;
    margin-right: 0px;
    &:nth-child(even) a {
        background: $elma-dark-blue;
    }
    list-style: none;
}


div.padded ul li.active a {
    background: $elma-light-green;
}


div.padded ul {
    float: left;
    width: 100%;
    padding-top: 80px
}


// scrollTop Styles
div.padded ul li.scrollTop {
    float: right;
}

.nav {
margin-bottom: 0;
}
