.show-page-header {
  h1 {
    color: $elma-red;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 4px;
    margin-top: 50px ;
  }
  .salon-address {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(23, 57, 84, 0.2);
  }
}
.salon-description {
  font-weight: 300;
  font-size: 20px;
  color: $elma-dark-blue;
}


.review-header h1 {
  color: red !important;
}
